.imgBackdrop {
  position: relative;
  overflow: hidden;
  height: 40%;
  object-fit: cover;
  width: 100%;

}

.imgBackdrop img {
  filter: blur(5px);
}

img {
  width: 100%
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.imgPoster {
  width: 20%
}


.contenttwo {
  display: flex;
  justify-content: space-between;
}

.contentthree {
  display: flex;
  justify-content: space-evenly;
}

.project__item {
  color: black;
}

@media screen and (max-width:991px) {
  .imgBackdrop {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .imgPoster {
    width: 100%
  }

  .contenttwo,
  .contentthree {
    display: flex;
    flex-direction: column;

  }

}